@import "../lib/lib";
@import "modules/app";


body {
  background-color: #222;
  color:white;

}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
     background: red;
    max-width:100%;
   max-height:auto;
}