.chal3{
    
    .board{
     
        padding: 10px;
    }
    table{
        
        align-items: center;    
        margin: 0 auto;        
    }
    table td{
        height: 70px;
        width: 70px;
    }
 
    .quest{
        background: gray;
        box-shadow: inset 1px 1px 3px 4px #666;
        border: 1px double #333;
        color: #FFE;
        font-size: 16px;
        text-align: center;
    }
    td.answer{
        height:40px;
        width: 40px;
        background: indianred;
        box-shadow: inset 1px 1px 3px 4px #666;
        border: 3px double #333;
        color: #FFE;
        font-size: 16px;
        text-align: center;
    }
    table.answer{
        display: flex;
        flex-flow: column wrap;
    }
    
    td.drag{
        height:70px;
        width: 70px;
        background: indianred;
        box-shadow: inset 1px 1px 3px 4px #666;
        border: 3px double #333;
        color: #FFE;
        font-size: 16px;
        text-align: center;
    }
    
}
